<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <title>Low Cost Air Quality Sensors</title>

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/stroke.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <link rel="stylesheet" type="text/css" href="/js/syntax-highlighter/styles/shCore.css" media="all">
  <link rel="stylesheet" type="text/css" href="/js/syntax-highlighter/styles/shThemeRDark.css" media="all">

  <!-- MATERIALIZE CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <!-- CUSTOM -->
  <link rel="stylesheet" type="text/css" href="/css/custom.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <div class="container">

      <section id="top" class="section docs-heading">

        <div class="row">
          <div class="col-md-12">
            <div class="big-title text-center">
              <h1>Low-Cost Air Quality Monitoring Packages</h1>
              <p class="lead">Developed by Mike Bergin Lab at Duke University </p>
            </div>
            <!-- end title -->
          </div>
          <!-- end 12 -->

          <!-- Navigation Tabs at Top of Webpage-->
          <div id="navbar"></div>

        </div>
        <!-- end row -->

      </section>
      <!-- end section -->

      <div class="row">

        <div class="col-md-9">

          <section id="line1">

            <div class="row">
              <div class="col-md-12 left-align">
                <h2 class="dark-text">Teensy Programming<hr></h2>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->

            <h4>Setup</h4>
            <ol type="I">
              <li>If you do not already have Arduino/Teensyduino and the necessary libraries on your computer, see Teensy Software Installation for Mac and PC for installation instructions. I use Arduino version 1.6.8, which is not the current version of
                Arduino but it works with the code. As our packages use Teensy, you will also need to install Teensyduino - note that with Arduino version 1.6.8, you will need to use Teensy version 1.28.
              </li>
              </br>
              <li>Connect the teensy on the PCB to your computer using the microUSB port on the teensy. In Arduino, click “Tools”, and set the board type to Teensy 3.2 / 3.1.</li>
              </br>
              <li>Open the Blaze air sensor code that you will be using. In the code, find the line RTC.adjust(DateTime(__DATE__, __TIME__)); If this line is commented out (using “//”), remove the back slashes. Upload the code to the teensy. The teensy will
                use whatever time your computer is running on currently to set the clock – if you would like to program the package for use in another time zone, you will need to first set your computer clock time to that time zone.</li>
              </br>
              <li>Once you have uploaded the code, comment out (i.e., add “//” at the beginning of the RTC.adjust line) and re-upload the code.</li>
              </br>
              <li>With the Teensy still connected to your computer, look in the “Tools” tab and open the “Serial monitor”. You should be able to see the data being read in real-time. As the data appear, check if the date and time are correct. This also allows
                you to get a sense of whether the data look reasonable. Note that data will appear every second, but the data being stored to the SD card are averaged each minute. Note also that the SD card must be programmed prior to running the code,
                otherwise the sensor will not log data. Every time you plug the sensor package in the LED will flicker red on start-up and then remain solid, as it starts to record data. Every time (e.g., every minute) data are recorded to the SD card
                the LED should flicker again.</li>
            </ol>

            <h4>Testing</h4>
            <ol type="I">
              <li>Once you think you have the sensors working, you should test them over an extended period of time. Co-locate your sensors (close to a reference instrument if available), and let them run for a few hours, or longer. Make sure that when you
                lug them in the red LED flashes and then remains on, but blinks every minute, indicating that data are being logged. If LED is flashing, ensure the SD card is properly inserted and try disconnecting the power source (wall or battery) and
                then reconnecting.</li>
              </br>
              <li>Download the data. Remove the SD card from the package and download the files to your computer. Do not delete the files on the SD card. Replace the SD card and restart the teensy by disconnecting and reconnecting power. NOTE: Each SD card
                belongs with a specific sensor please make sure the number on the SD card matches the box number. You can also find the box number by opening the files on the SD card.</li>
              </br>
              <li>Check the data to make sure all values seem appropriate, and that the time and date are correct. You can quickly glance at the data in the “TEENSY.txt” file, but a better way to identify problems is to plot the data (e.g., using the Plotter
                app in Rstudio). If you look at the instantaneous values being reported by the Arduino serial monitor there will be noise and values will be inconsistent. This may be true with some of the 1-minute average values recorded as well especially
                for the Alphasense gas phase sensors (O3, NO, NO2). PM2.5 indoors in the US is often below 10 µg m-3. Outdoors in India it can be up to a few hundred µg m-3. CO2 is about 400ppm globally but can be much higher near sources of combustion
                and especially in closed rooms since people exhale high concentrations of CO2. The COZIR sensor we use measures up to a maximum of 2000ppm. There is still some uncertainty with the values reported by the O3, NO, and NO2 sensors so values
                cannot yet be compared with ambient concentrations. You can visualize the data from the teensy file using the R application to plot PM (or other pollutants), and temperature and humidity. If collocated, we expect minimal variation in the
                data recorded by the sensors. To quickly view the data from multiple sensors simultaneously, use the “Plotter” app in RStudio. If you do not yet have R and Shiny installed on your computer, see Appendix C.</li>
              </br>
              <li>Once you have uploaded the code, comment out (i.e., add “//” at the beginning of the RTC.adjust line) and re-upload the code.</li>
              </br>
              <li>With the Teensy still connected to your computer, look in the “Tools” tab and open the “Serial monitor”. You should be able to see the data being read in real-time. As the data appear, check if the date and time are correct. This also allows
                you to get a sense of whether the data look reasonable. Note that data will appear every second, but the data being stored to the SD card are averaged each minute. Note also that the SD card must be programmed prior to running the code,
                otherwise the sensor will not log data. Every time you plug the sensor package in the LED will flicker red on start-up and then remain solid, as it starts to record data. Every time (e.g., every minute) data are recorded to the SD card
                the LED should flicker again.</li>
            </ol>

          </section>
          <!-- end section -->

          </section>
          <!-- end section -->
        </div>
        <!-- // end .col -->

      </div>
      <!-- // end .row -->

    </div>
    <!-- // end container -->

  </div>
  <!-- end wrapper -->

  <script src="/js/jquery.min.js"></script>
  <script>
    $(function() {
      $("#navbar").load("/html/navbar.ejs");
    });
  </script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/retina.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script src="/js/wow.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>

  <!-- CUSTOM PLUGINS -->
  <script src="/js/custom.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/syntax-highlighter/scripts/shCore.js"></script>
  <script src="/js/syntax-highlighter/scripts/shBrushXml.js"></script>
  <script src="/js/syntax-highlighter/scripts/shBrushCss.js"></script>
  <script src="/js/syntax-highlighter/scripts/shBrushJScript.js"></script>

</body>

</html>
