<!-- Navigation Tabs at Top of Webpage-->
<ul class="nav nav-tabs">
    <!-- <ul class="nav navbar-nav"> -->
    <li>
      <a href="/data" onclick="tabClicked()">Overview</a>
    </li>
    <li>
      <a href="/data/device" onclick="tabClicked()">Device</a>
    </li>
    <li>
      <a href="/data/project" onclick="tabClicked()">Project</a>
    </li>
  </ul>
  