<!-- Navigation Tabs at Top of Webpage-->
<ul class="nav nav-tabs">
  <!-- <ul class="nav navbar-nav"> -->
  <li>
    <a href="/overview" onclick="tabClicked()">Overview</a>
  </li>
  <li>
    <a href="/materials" onclick="tabClicked()">Materials and Equipment Needed</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Enclosures
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/hardcaseenclosure" onclick="tabClicked()">Hardcase Enclosures</a>
      </li>
      <li>
        <a href="/professionalenclosure" onclick="tabClicked()">Professionally Designed Enclosures</a>
      </li>
      <li>
        <a href="/diyenclosure" onclick="tabClicked()">Personal Package DIY Enclosures</a>
      </li>
      <li>
        <a href="/3dprintedenclosure" onclick="tabClicked()">3D Printed Enclosures</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/pcbparts" onclick="tabClicked()">PCB Assembly</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Field Deployment
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/fielddeployment-hardcase" onclick="tabClicked()">Field Deployment - Hardcase</a>
      </li>
      <li>
        <a href="/sensortesting" onclick="tabClicked()">Sensor Testing</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="/sensortesting" onclick="tabClicked()">Sensor Testing</a>
  </li>

  <li>
    <a href="/datavisualization" onclick="tabClicked()">Data Visualization</a>
  </li>
  <li>
    <a href="/teensysoftware" onclick="tabClicked()">Teensy Sensor Software</a>
  </li>
  <li>
    <a href="/assemblepackages" onclick="tabClicked()">Sensor Packages for Use</a>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Appendices
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/appendixa" onclick="tabClicked()">Appendix A</a>
      </li>
      <li>
        <a href="/appendixb" onclick="tabClicked()">Appendix B</a>
      </li>
      <li>
        <a href="/appendixc" onclick="tabClicked()">Appendix C</a>
      </li>
      <li>
        <a href="/appendixd" onclick="tabClicked()">Appendix D</a>
      </li>
    </ul>
  </li>
</ul>
