<!-- Navigation Tabs at Top of Webpage-->
<ul class="nav nav-tabs">
  <!-- <ul class="nav navbar-nav"> -->
  <li>
    <a href="/instructions/overview" onclick="tabClicked()">Overview</a>
  </li>
  <li>
    <a href="/instructions/materials" onclick="tabClicked()">Materials and Equipment Needed</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Enclosures
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/instructions/enclosures/hardcase" onclick="tabClicked()">Hardcase Enclosures</a>
      </li>
      <li>
        <a href="/instructions/enclosures/professional" onclick="tabClicked()">Professionally Designed Enclosures</a>
      </li>
      <li>
        <a href="/instructions/enclosures/diy" onclick="tabClicked()">Personal Package DIY Enclosures</a>
      </li>
      <li>
        <a href="/instructions/enclosures/3dprinted" onclick="tabClicked()">3D Printed Enclosures</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/instructions/pcbparts" onclick="tabClicked()">PCB Assembly</a>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Field Deployment
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/instructions/fielddeployment/hardcase" onclick="tabClicked()">Field Deployment - Hardcase</a>
      </li>
      <li>
        <a href="/instructions/fielddeployment/diy" onclick="tabClicked()">Field Deployment - DIY Personal Package</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="/instructions/sensortesting" onclick="tabClicked()">Sensor Testing</a>
  </li>



  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Data Visualization
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/instructions/datavisualization/install" onclick="tabClicked()">Data Visualization Software Installation</a>
      </li>
      <li>
        <a href="/instructions/datavisualization/application" onclick="tabClicked()">Data Visualization Application</a>
      </li>
    </ul>
  </li>



  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="tabClicked()">Teensy Sensor Software
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/instructions/teensysoftware/programming" onclick="tabClicked()">Teensy Sensor Software Programming</a>
      </li>
      <li>
        <a href="/instructions/teensysoftware/mac" onclick="tabClicked()">Teensy Sensor Software Installation - Mac Version</a>
      </li>
      <li>
        <a href="/instructions/teensysoftware/pc" onclick="tabClicked()">Teensy Sensor Software Installation - PC Version</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="/instructions/sdcardprogramming" onclick="tabClicked()">SD Card Programming</a>
  </li>

  <li>
    <a href="/instructions/additionalfiles" onclick="tabClicked()">Additional Files</a>
  </li>
  <li>
    <a href="/instructions/faq" onclick="tabClicked()">FAQ</a>
  </li>
  <li>
    <a href="/instructions/photos" onclick="tabClicked()">Photos</a>
  </li>

</ul>
